#Map {
  iframe {
    width: 100%;
  }
}
#findUs {
  .text {
    padding: 80px 80px 40px;
    margin-top: 10px;
    h2 {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 40px;
    }
    h6 {
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 30px;
    }
  }
  .pic {
    margin-top: 50px;
    padding: 50px;
    border-radius: 50%;
    text-align: center;
    img {
      width: 100%;
    }
  }
}

#Contacts {
  .con {
    padding: 0 80px 20px;
    .title {
      font-weight: 600;
      color: black;
    }
    .text {
      font-family: Poppins;
      font-size: 17px;
      line-height: 1.64em;
      font-weight: 400;
      color: #a9a9a9;
      margin: 0 0 17px 0;
    }
    .detail {
      display: block;
      margin-bottom: 10px;
      text-decoration: none;
      color: #a9a9a9;
      transition: all 0.2s linear;
      i {
        color: #3abdc1;
        font-size: 12px;
        margin-right: 10px;
      }
      &:hover {
        color: #3abdc1;
        transition: all 0.2s linear;
      }
      span {
      }
    }
  }
}

#Reply {
  margin: 30px 80px;
  background-color: white;
  .reply {
    padding: 35px;
    background-color: #3abdc1;
    .title {
      color: white;
      font-weight: 600;
      font-size: 30px;
      margin-bottom: 30px;
    }
    .hei{
        height: 120px;
    }
    .input-group {
      position: relative;
      i {
        position: absolute;
        top: 20px;
        left: 15px;
        color: white;
        z-index: 1;
      }
      .form-control {
        background-color: #3fd0d4;
        border: unset;
        padding: 15px 40px;
        border-radius: unset;
        z-index: 0;
        &:focus{
            outline: unset;
            box-shadow: unset;
        }
        &::placeholder{
            color: white;
        }
      }
    }
    .wrap {
        display: flex;
        margin: 8px 0px;
      .input-group {
        i {
          position: absolute;
          top: 23px;
          left: 15px;
          color: white;
          z-index: 1;
        }
        .form-control {
          background-color: #3fd0d4;
          border: unset;
          padding: 15px 40px;
          height: 60px;
        }
      }
    }
    .btn {
        width: 100%;
        background-color: white;
        font-weight: 600;
        height: 60px;
        border-radius: unset;
        transition: all 0.3s linear;
        &:hover{
            background-color: #3fd0d4;
            color: white;
        }
    }
  }
}

@media screen and (max-width: 992px){
  #Contacts{
    .con{
      margin: 0 30px;
      padding: 0 !important;
    }
  }
}
