#navBarResD {
  z-index: 2;
  position: fixed;
  width: 100%;
  .bar {
    display: unset;
    padding: unset;
    img {
      width: 170px;
      padding: 12px;
    }
  }
  .menu {
    position: absolute;
    right: 0;
    top: 0;
    i {
      color: white;
      font-size: 25px;
      padding: 23px;
      background-color: #3abdc1;
      cursor: pointer;
    }
  }
}
#barResD {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  position: fixed;
  background-color: #3fd0d4;
  z-index: 2;
  display: none;
  .icons {
    img {
      float: left;
      width: 170px;
      padding: 12px;
    }
    i {
      float: right;
      color: white;
      font-size: 25px;
      padding: 23px;
      background-color: #3abdc1;
      cursor: pointer;
    }
  }
  .use {
    display: flex;
    align-items: center;
    height: 0;
    float: right;
    margin-top: 37px;
    margin-right: 5px;
    width: 120px;
    .basket {
      margin: 0 7px;
      i {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        font-size: 22px;
        color: white !important;
        padding-bottom: 1px;
      }
    }
    .search {
      margin: 0 7px;
      align-items: center;
      height: 100%;
      transform: scaleX(-1);
      cursor: pointer;
      position: relative;
      vertical-align: middle;
      color: white;
      font-size: 22px;
    }
    .user {
      margin: 3px 7px 0 7px;
      display: block;
      a {
        font-size: 22px;
        color: white;
        i {
        }
      }
    }
    .userImage {
      display: none;
      margin: 3px 7px 0 7px;
      border-radius: 50%;
      img {
        width: 100%;
      }
    }
  }
  .des-navbar-nav {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    .des-nav-item {
      max-width: max-content;
      position: relative;
      margin: 0px 25px;

      .des-nav-link {
        display: block;
        color: white;
        font-size: 25px;
        line-height: 25px;
        font-weight: 700;
        padding: 15px 0px;
        transition: all 0.2s linear;
        &:after {
          content: "";
          position: absolute;
          top: 43px;
          left: 0px;
          width: 0%;
          height: 3px;
          background-color: white;
          transition: width 0.2s ease-out;
        }
        &:hover {
          text-decoration: none;
          &:after {
            width: 100%;
          }
        }
      }
    }
    .accordion {
      .card {
        border-radius: unset;
        border: unset;
        background-color: unset;
        &:focus {
          outline: unset;
          box-shadow: unset;
        }
        .card-header {
          background-color: #3fd0d4;
          border-radius: unset;
          border-bottom: unset;
          h2 {
            .btn {
              max-width: max-content;
              position: relative;
              color: white;
              display: inline-block;
              font-size: 25px;
              line-height: 25px;
              font-weight: 700;
              transition: all 0.2s linear;
              padding: 0 !important;
              &:focus {
                outline: unset;
                box-shadow: unset;
              }
              &:after {
                content: "";
                position: absolute;
                top: 28px;
                left: 0px;
                width: 0%;
                height: 3px;
                background-color: white;
                transition: width 0.2s ease-out;
              }
              &:hover {
                background-color: unset !important;
                &:after {
                  width: 100%;
                }
              }
            }
          }
        }
        .collapse {
          .card-body {
            .wrap {
              .dropdown-item {
                color: white;
                font-size: 15px;
                position: relative;
                max-width: fit-content;
                margin: 0 auto;
                padding: 0 !important;
                &:after {
                  content: "";
                  position: absolute;
                  top: 22px;
                  left: 0px;
                  width: 0%;
                  height: 2px;
                  background-color: white;
                  transition: width 0.2s ease-out;
                }
                &:hover {
                  background-color: unset !important;
                  &:after {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#DestinationsCarousel {
  z-index: 0;
  .desCarousel {
    background-color: #f3f3f3;
    .owl-carousel {
      .item {
        background-color: white;
        box-sizing: border-box;
        overflow: hidden;
        .img {
          transition: all 1s linear;
          overflow: hidden;
          height: 578px;
          max-height: 1200px;
          position: relative;
          img {
            display: block;
            width: 100%;
            height: auto;
            position: absolute;
            bottom: 0;
          }
          &:hover {
            transform: scale(1.05);
            transition: all 1s linear;
          }
        }
      }
      .title {
        color: white;
        position: absolute;
        bottom: 10px;
        left: 15px;
        h4 {
          font-family: Satisfy;
          font-size: 30px;
        }
        h2 {
        }
      }
    }
  }
}
