#parallaxSummer {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  .slogan {
    padding: 80px 100px 40px;
    position: relative;
    text-align: center;
    .textWrapper {
      padding: 0px 180px 0;
      .upperTitle {
        h3 {
          font-family: Satisfy;
          color: white;
          font-weight: 500;
          font-size: 35px;
          padding-bottom: 5px;
        }
      }
      .title {
        margin-bottom: 10px;
        h1 {
          color: white;
          font-size: 70px;
          font-weight: 600;
        }
      }
      .text {
        h5 {
          color: white;
          font-weight: 300;
        }
      }
    }
  }
  .video {
    margin: 0 110px 70px;
    .picture {
      position: relative;
      img {
        width: 100%;
      }
      .icon {
        position: absolute;
        top: 235px;
        left: 46%;
        color: #3fd0d4;
        font-size: 82px;
        cursor: pointer;
        transition: all 0.5s linear;
        &:hover {
          transition: all 0.5s linear;
          transform: scale(1.1);
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #parallaxSummer {
    .slogan {
      .textWrapper {
        padding: 0 !important;
      }
    }
    .video {
      margin: 50px !important;
      .icon {
        top: 38% !important;
        left: 44% !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #parallaxSummer {
    .video {
      .icon {
        top: 36% !important;
        left: 42% !important;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  #parallaxSummer {
    .slogan {
      padding: 10px 0px !important;
      .textWrapper {
        padding: 0 !important;
        .upperTitle {
          h3 {
            font-size: 24px !important;
          }
        }
        .title {
          h1 {
            font-size: 30px !important;
          }
        }
        .text {
          h5 {
            font-size: 15px !important;
          }
        }
      }
    }
    .video {
      margin: 0 !important;
      .icon {
        top: 37% !important;
        left: 41% !important;
      }
    }
  }
}
