#introWine {
  .introCarousel {
    .owl-carousel {
      .owl-stage-outer {
        .owl-stage {
          .item {
            .sliderWrapper {
              .imageWrapper {
                overflow: hidden;
                display: flex;
                .img1 {
                  margin-right: 5px;
                  height: 100%;
                  width: 100%;
                }
                .img2 {
                  margin-right: 5px;
                  width: 100%;
                  height: 100%;
                }
              }
              .textWrapper {
                top: 0;
                left: 0;
                right: 0;
                z-index: 3;
                text-align: left;
                position: absolute;
                padding: 60px 198px 0px 198px;
                margin-top: 20px;
                .title {
                  padding: 10px 0;
                  position: absolute;
                  top: 295px;
                  opacity: 0;
                  img {
                  }
                }
              }
            }
          }
        }
      }
      .owl-nav {
        position: absolute;
        top: 340px;
        width: 100%;
        transition: all 0.3s linear;
        button {
          position: absolute;
          transition: all 0.2s linear;
          background-color: white;
          width: 60px;
          height: 60px;
          line-height: 55px;
          border-radius: 50%;
          &:first-child {
            left: 40px;
          }

          &:last-child {
            right: 40px;
          }

          &:hover {
            transition: all 0.2s linear;
            background-color: #3abdc1;
            span {
              transition: all 0.2s linear;
              color: white;
            }
          }
          &:focus {
            outline: unset;
          }

          span {
            transition: all 0.2s linear;
            font-size: 55px;
            color: #3abdc1;
            font-weight: 200;
          }
        }
      }
    }
  }
}

#tourProgressWine {
  margin: 50px 0px;
  .left {
    padding-left: 100px;
    font-weight: 700;
    h2 {
      margin-bottom: 35px;
      font-weight: 700;
      font-size: 40px;
    }
    h6 {
      margin: 35px 0px;
    }
    .bar {
      .countryName {
        margin-bottom: 15px;
        .name {
          font-weight: 700;
        }
        .num {
          float: right;
          font-weight: 700;
        }
        .percentage {
          float: right;
          font-weight: 700;
        }
      }
      .progress {
        transition: unset;
        margin-bottom: 35px;
        height: 20px;
        .progress-bar {
          transition: unset;
          width: 0%;
          background-color: #3abdc1;
        }
      }
    }
  }
  .right {
    text-align: center;
    margin-top: 60px;
    .img {
      img {
      }
    }
  }
}

#popularToursWine {
  display: flex;
  background-color: white;
  margin: 0px 70px 30px;
  .slogan {
    padding: 10px 20px 40px;
    text-align: center;
    .textWrapper {
      padding: 0px 250px 0;
      .title {
        margin-bottom: 10px;
        h1 {
          font-size: 70px;
          font-weight: 600;
        }
      }
      .text {
        h5 {
          font-weight: 300;
        }
      }
    }
  }
  .tourCity {
    margin: 0px 5px 10px;
    position: relative;
    overflow: hidden;
    transition: all 1s linear;
    cursor: pointer;
    .BgImg {
      transition: all 1s linear;
      img {
        transition: all 1s linear;
        width: 100%;
      }
    }
    h5 {
      font-family: Satisfy;
      color: white;
      font-weight: 500;
      position: absolute;
      top: 95px;
      left: 75px;
      font-size: 50px;
      display: block;
    }
    .info {
      position: absolute;
      bottom: 20px;
      left: 30px;
      color: white;
      font-size: 24px;
      font-weight: 600;
      a {
        text-decoration: none;
        color: white;
        p {
          font-weight: 600;
          font-size: 22px;
        }
      }
      .price {
      }
    }
    &:hover {
      .BgImg {
        img {
          transform: scale(1.05);
          transition: all 1s linear;
        }
      }
    }
  }
}

#Counter {
  margin: 100px 75px;
  text-align: center;
  .count {
    font-size: 60px;
    font-weight: 700;
  }
  .name {
    font-weight: 600;
  }
  .text {
    margin: 0 35px;
  }
}

#videoWine {
  background-color: #fff;
  text-align: center;
  margin: 50px 75px;
  .video {
    .picture {
      position: relative;
      margin: 0 auto;
      img {
        width: 100%;
      }
      .icon {
        position: absolute;
        top: 160px;
        left: 525px;
        i {
          color: #3fd0d4;
          font-size: 82px;
          cursor: pointer;
          transition: all 0.5s linear;
        }
        &:hover {
          transition: all 0.5s linear;
          transform: scale(1.1);
        }
      }
    }
  }
}

#ourToursWine {
  .text {
    padding: 80px;
    margin-top: 10px;
    h2 {
      margin-bottom: 60px;
      font-weight: 700;
      font-size: 40px;
    }
    h6 {
      margin-bottom: 30px;
    }
    .wrap {
      margin: 15px 0;
      display: flex;
      .item {
        margin-bottom: 20px;
        display: flex;
        img {
        }
        p {
          margin: 0px 10px;
        }
      }
    }
  }
  .pic {
    margin-top: 10px;
    padding: 50px;
    border-radius: 50%;
    text-align: center;
    img {
      width: 100%;
    }
  }
}

#popupWine {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;

  .videoWrapper {
    width: 65%;
    height: 80%;
    position: relative;
    .popupVideo {
      height: 100%;
      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .icon {
      position: absolute;
      top: -35px;
      right: 0;
      i {
        font-size: 20px;
        cursor: pointer;
        color: #3fd0d4;
        transition: all 0.2s linear;

        &:hover {
          color: darken(#3fd0d4, 20%);
        }
      }
    }
  }
}

@media screen and (max-width: 992px){
  #introWine{
    .textWrapper{
      padding: 60px 150px 0px !important;
    }
  }
  #tourProgressWine{
    .left{
      padding-left: 0 !important;
      margin: 0 30px !important;
    }
  }
  #popularToursWine{
    .slogan{
      padding: 0 !important;
      .textWrapper{
        padding: 0 !important;
        margin-bottom: 30px;
      }
    }
  }
  #videoWine{
    .icon{
      top: 35% !important;
      left: 44% !important;
    }
  }
  #ourToursWine {
    .text{
      padding: 0 !important;
      margin: 30px;
    }
  }
}
@media screen and (max-width: 992px){
  #introWine{
    .owl-stage-outer{
      .imageWrapper{
        .none{
          display: none !important;
        }
      }
      .textWrapper{
        top: -30px !important;
      }
    }
    .owl-nav{
      top: 294px !important;
    }
  }
}
@media screen and (max-width: 768px){
  #introWine{
    .owl-stage-outer{
      .imageWrapper{
        .none{
          display: none !important;
        }
      }
      .textWrapper{
        padding: 0 190px !important;
        top: -120px !important;
        width: 300px;
      }
    }
    .owl-nav{
      top: 166px !important;
    }
  }
}
@media screen and (max-width: 576px){
  #introWine{
    .owl-stage-outer{
      .textWrapper{
        padding: 0 165px !important;
        top: -105px !important;
      }
    }
    .owl-nav{
      top: 170px !important;
    }
  }
  #popularToursWine{
    .title {
      h1 {
        font-size: 30px !important;
      }
    }
    .text {
      h5 {
        font-size: 15px !important;
      }
    }
  }
  #videoWine{
    margin: 0 !important;
    .icon{
      top: 32% !important;
      left: 42% !important;
    }
  }
  #ourToursWine{
    text-align: center;
    margin: 30px 0px;
  }
}
