
.bg-gradient-primary {
    background-color: #3fd0d4 !important;
    background-image: linear-gradient(180deg, #3fd0d4 10%, #3abdc1 100%) !important;
    background-size: cover;
}
.btn-primary {
    background-color: #3fd0d4 !important;
    border-color: #3fd0d4 !important;
}

.bg-register-image {
    background: url(../img/login.jpg) !important;
    background-position: center !important;
    background-size: cover !important;
}
.bg-login-image {
    background: url(../img/register.jpg) !important;
    background-position: center !important;
    background-size: cover !important;
}
.centered {
    padding: 13px !important;
    height: 52px !important;
}
.table th {
    text-align:center !important;
    padding: 0.75rem 90px !important;
}
