#introAbout {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 440px;
  .slogan {
    padding: 145px 0px;
    .upperTitle {
      h3 {
        font-family: Satisfy;
        color: white;
        font-weight: 500;
        font-size: 35px;
        padding-bottom: 5px;
      }
    }
    .title {
      margin-bottom: 10px;
      h1 {
        color: white;
        font-size: 70px;
        font-weight: 600;
      }
    }
  }
}

#ourTours {
  .text {
    padding: 80px;
    margin-top: 10px;
    h2 {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 40px;
    }
    h6 {
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 30px;
    }
    .go {
      margin: 50px 0;
      a {
        text-decoration: none;
        color: white;
        background-color: #3fd0d4;
        transition: all 0.5s linear;
        padding: 10px 50px;
        font-size: 20px;
        font-weight: 600;
        &:hover {
          background-color: #3abdc1;
        }
      }
    }
  }
  .pic {
    margin-top: 10px;
    padding: 50px;
    border-radius: 50%;
    text-align: center;
    img {
      width: 100%;
    }
  }
}

#video {
  .picture {
    position: relative;
    img {
      width: 100%;
    }
    .icon {
      position: absolute;
      top: 155px;
      left: 47%;
      color: #3fd0d4;
      font-size: 82px;
      cursor: pointer;
      transition: all 0.5s linear;
      &:hover {
        transition: all 0.5s linear;
        transform: scale(1.1);
      }
    }
  }
}

.appear {
  bottom: 0px;
}
.disappear {
  bottom: -154px;
}
#ourTeam {
  display: flex;
  padding: 20px 65px;
  margin-top: 50px;
  .slogan {
    padding: 0px 20px 40px;
    text-align: center;
    .textWrapper {
      padding: 0px 250px 0;
      .upperTitle {
        h3 {
          font-family: Satisfy;
          color: #3fd0d4;
          font-weight: 500;
          font-size: 35px;
          padding-bottom: 5px;
        }
      }
      .title {
        margin-bottom: 10px;
        h1 {
          font-size: 70px;
          font-weight: 600;
        }
      }
      .text {
        h5 {
          font-weight: 300;
        }
      }
    }
  }
  .team {
    position: relative;
    margin: 0 12px;
    overflow: hidden;
    width: 260px;
    .img {
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .info {
      background-color: #3fd0d4;
      padding: 18px 30px;
      text-align: center;
      color: white;
      position: absolute;
      transition: all 0.5s ease-in-out;
      h6 {
        font-size: 18px;
        font-weight: 600;
      }
      .p {
        padding: 0 5px;
      }
      .socials {
        a {
          margin: 0 10px;
          text-decoration: none;
          span {
            i {
              transition: all 0.3s linear;
              color: white;
            }
          }
          &:hover {
            i {
              color: #3abdc1;
            }
          }
        }
      }
    }
  }
}

#tourProgress {
  margin:50px 0px;
  .left {
    text-align: center;
    .img {
      img {
      }
    }
  }
  .right {
    padding-right: 100px;
    font-weight: 700;
    h2 {
      margin-bottom: 35px;
      font-weight: 700;
      font-size: 40px;
    }
    h6 {
      margin: 35px 0px;
    }
    .bar {
      .countryName {
        margin-bottom: 15px;
        .name {
          font-weight: 700;
        }
        .num {
          float: right;
          font-weight: 700;
        }
        .percentage {
          float: right;
          font-weight: 700;
        }
      }
      .progress {
        margin-bottom: 35px;
        height: 20px;
        .progress-bar {
          background-color: #3abdc1;
        }
      }
    }
  }
}


#popularTours {
  display: flex;
  margin-bottom: 45px;
  background-color: white;
  margin: 0px 70px 0px;
  .tourCity {
    margin-bottom: 20px;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    transition: all 1s linear;
    cursor: pointer;
    .BgImg {
      transition: all 1s linear;
      img {
        transition: all 1s linear;
        width: 100%;
      }
    }
    h5 {
      font-family: Satisfy;
      color: white;
      font-weight: 500;
      position: absolute;
      top: 95px;
      left: 75px;
      font-size: 50px;
      display: block;
    }
    .info {
      display: flex;
      position: absolute;
      bottom: 20px;
      left: 30px;
      color: white;
      font-size: 17px;
      font-weight: 500;
      a {
        text-decoration: none;
        color: white;
        p {
          font-weight: 500;
          font-size: 20px;
          margin: 0 !important;
        }
      }
      .price {
        margin: 0 30px;
      }
    }
    &:hover {
      .BgImg {
        img {
          transform: scale(1.05);
          transition: all 1s linear;
        }
      }
    }
  }
}

#testmonial {
  padding: 100px 0px 60px;
  text-align: center;
  .review {
    .owl-carousel {
      .item {
        padding: 0 100px;
        .img {
          width: 140px;
          height: 140px;
          border-radius: 50%;
          overflow: hidden;
          margin: 0 auto;
          margin-bottom: 20px;
          img {
            max-width: 100%;
          }
        }
        .text {
          padding: 30px 100px;
          margin: 0 5px;
          p {
            font-size: 20px;
          }
        }
        .fullname {
          p {
            font-family: Satisfy;
            font-size: 25px;
          }
        }
      }
      .owl-nav {
        position: absolute;
        top: 172px;
        width: 100%;
        button {
          position: absolute;
          background-color: unset;
          border-color: unset;
          &:first-child {
            left: 100px;
          }

          &:last-child {
            right: 100px;
          }
          &:focus {
            outline-style: unset;
          }
          span {
            font-size: 80px;
            font-weight: 100;
            transition: all 0.2s linear;
            &:hover {
              color: #3fd0d4;
            }
          }
        }
      }
    }
  }
}

#popupAbout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;

  //   visibility: hidden;

  .videoWrapper {
    width: 65%;
    height: 80%;
    position: relative;
    .popupVideo {
      height: 100%;
      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .icon {
      position: absolute;
      top: -35px;
      right: 0;
      i {
        font-size: 20px;
        cursor: pointer;
        color: #3fd0d4;
        transition: all 0.2s linear;

        &:hover {
          color: darken(#3fd0d4, 20%);
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #ourTours{
    .text{
      padding: 50px !important;
    }
    .pic{
      padding: 50px 25px 0px !important;
    }
  }
  #video{
    .icon{
      top: 107px !important;
      left: 46% !important;
    }
  }
  #ourTeam {
    margin-top: 0 !important;
    .slogan {
      padding: 30px 0 !important;
      .textWrapper{
        padding: 0 !important;
      }
    }
    .team{
      margin: 12px !important;
      width: unset !important;
    }
  }
  #popularTours {
    margin: 10px !important;
    .tourCity {
      margin: 10px !important;
      width: unset !important;
      height: unset !important;
    }
  }
}

@media screen and (max-width: 768px) {
  #Tours {
    .slogan {
      padding: 30px 0 !important;
    }
  }
  #ourTours{
    .text{
      padding: 50px !important;
    }
    .pic{
      padding: 0px 30px 30px  !important;
    }
  }
  #video{
    .icon{
      top: 82px !important;
      left: 44% !important;
    }
  }
  #ourTeam {
    margin-top: 0 !important;
    .slogan {
      padding: 30px 0 !important;
      .textWrapper{
        padding: 0 !important;
      }
    }
    .team{
      margin: 12px !important;
      width: unset !important;
      .info{
        width: 100% !important;
      }
    }
  }
  #tourProgress{
    .right{
      padding: 0 !important;
      margin: 30px !important;
    }
  }
}

@media screen and (max-width: 576px) {
  #video{
    .icon{
      top: 49px !important;
      left: 42% !important;
    }
  }
  #ourTeam{
    .upperTitle {
      h3 {
        font-size: 24px !important;
      }
    }
    .title {
      h1 {
        font-size: 30px !important;
      }
    }
    .text {
      h5 {
        font-size: 15px !important;
      }
    }
  }
}
