#introBlogDetail {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 440px;
  .slogan {
    padding: 145px 0px;
    .upperTitle {
      h3 {
        font-family: Satisfy;
        color: white;
        font-weight: 500;
        font-size: 35px;
        padding-bottom: 5px;
      }
    }
    .title {
      margin-bottom: 10px;
      h1 {
        color: white;
        font-size: 70px;
        font-weight: 600;
      }
    }
  }
}

#myBlog {
  padding: 40px 20px;
  transform: translateY(-80px);
  background-color: #fff;
  box-shadow: 0 9px 16px 13px rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  margin: 0 30px;
  .blog {
    transition: all 0.2s linear;
    margin: 0 20px;
    .pic {
      margin-bottom: 40px;
      img {
        width: 100%;
      }
    }
    .title {
      font-weight: 600;
      margin-bottom: 30px;
    }
    .toptext {
      margin-bottom: 25px;
    }
    .images {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
      .img {
        margin: 0 10px;
        height: 238px;
        img {
          height: 100%;
        }
      }
    }
    .content {
      margin-bottom: 25px;
    }
    .details {
      font-weight: 600;
      margin-bottom: 30px;
      .date {
        margin-right: 15px;
      }
      .icon {
      }
      .commentCount {
        margin-right: 10px;
      }
      span {
      }
    }
    .accordion {
      .card {
        border-radius: unset;
        border: unset;
        margin-bottom: 5px;
        .card-header {
          background-color: white;
          h2 {
            .btn {
              font-weight: 600;
              transition: all 0.2 linear;
              &:focus {
                outline: unset;
                box-shadow: unset;
              }
              &:hover {
                color: #3abdc1;
              }
            }
          }
        }
        .collapse {
          .card-body {
            .smooth {
              display: flex;
              .img {
                img {
                }
              }
              .comContent {
                padding: 0 30px;
                .name {
                  h5 {
                    font-weight: 600;
                  }
                }
                p {
                  margin-bottom: 8px;
                }
                .date {
                  font-weight: 600;
                }
                .showSpan {
                  display: block !important;
                }
                .hideSpan {
                  display: none;
                }
                .rep {
                  display: none;
                  float: right;
                  font-weight: 600;
                  cursor: pointer;
                  transition: all 0.2s linear;
                  &:hover {
                    color: #3abdc1;
                  }
                  a {
                    text-decoration: none;
                    transition: all 0.2 linear;
                    &:hover {
                      color: #3abdc1;
                    }
                  }
                }
                .cancel {
                  float: right;
                  font-weight: 600;
                  display: none;
                  cursor: pointer;
                  transition: all 0.2s linear;
                  &:hover {
                    color: #3abdc1;
                  }
                  a {
                    text-decoration: none;
                    transition: all 0.2 linear;
                    &:hover {
                      color: #3abdc1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .quote {
      padding: 40px 0px 30px;
      background-color: #fff;
      box-shadow: 0 0 45.92px 0.08px rgba(0, 0, 0, 0.07);
      text-align: center;
      position: relative;
      margin-bottom: 40px;
      color: #3fd0d4;
      .icon {
        position: absolute;
        right: -15px;
        top: -15px;
        background-color: white;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        line-height: 60px;
        box-shadow: 0 0 45.92px 0.08px rgba(0, 0, 0, 0.07);
        color: #3abdc1;
        i {
        }
      }
      .text {
        padding: 10px 100px;
        margin: 0 5px;
        p {
          font-size: 20px;
        }
      }
      .fullname {
        p {
          font-family: Satisfy;
          font-size: 25px;
        }
      }
    }
    .comment {
      padding: 35px;
      background-color: #3abdc1;
      display: none;
      transition: all 0.2s linear;
      .title {
        color: white;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 30px;
      }
      .hei {
        height: 120px;
      }
      .input-group {
        position: relative;
        i {
          position: absolute;
          top: 20px;
          left: 15px;
          color: white;
          z-index: 1;
        }
        .form-control {
          background-color: #3fd0d4;
          border: unset;
          padding: 15px 40px;
          border-radius: unset;
          z-index: 0;
          &:focus {
            outline: unset;
            box-shadow: unset;
          }
          &::placeholder {
            color: white;
            z-index: 9;
          }
        }
      }
      .wrap {
        display: flex;
        margin: 8px 0px;
        .input-group {
          i {
            position: absolute;
            top: 23px;
            left: 15px;
            color: white;
            z-index: 1;
          }
          .form-control {
            background-color: #3fd0d4;
            border: unset;
            padding: 15px 40px;
            height: 60px;
          }
        }
      }
      .formWrap {
        margin: 30px 2px;
        .form-check {
          margin-top: 10px;
          color: white;
          font-weight: 500;
          .form-check-input {
          }
        }
      }
      .btn {
        width: 100%;
        background-color: white;
        font-weight: 600;
        height: 60px;
        border-radius: unset;
        transition: all 0.3s linear;
        &:hover {
          background-color: #3fd0d4;
          color: white;
        }
        &:focus {
          outline: unset;
          box-shadow: unset;
        }
      }
    }
    .replyComment {
      display: none;
      padding: 35px;
      background-color: #3abdc1;
      transition: all 0.2s linear;
      .title {
        color: white;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 30px;
      }
      .hei {
        height: 120px;
      }
      .input-group {
        position: relative;
        i {
          position: absolute;
          top: 20px;
          left: 15px;
          color: white;
          z-index: 1;
        }
        .form-control {
          background-color: #3fd0d4;
          border: unset;
          padding: 15px 40px;
          border-radius: unset;
          z-index: 0;
          &:focus {
            outline: unset;
            box-shadow: unset;
          }
          &::placeholder {
            color: white;
            z-index: 9;
          }
        }
      }
      .wrap {
        display: flex;
        margin: 8px 0px;
        .input-group {
          i {
            position: absolute;
            top: 23px;
            left: 15px;
            color: white;
            z-index: 1;
          }
          .form-control {
            background-color: #3fd0d4;
            border: unset;
            padding: 15px 40px;
            height: 60px;
          }
        }
      }
      .formWrap {
        margin: 30px 2px;
        .form-check {
          margin-top: 10px;
          color: white;
          font-weight: 500;
          .form-check-input {
          }
        }
      }
      .btn {
        width: 100%;
        background-color: white;
        font-weight: 600;
        height: 60px;
        border-radius: unset;
        transition: all 0.3s linear;
        &:hover {
          background-color: #3fd0d4;
          color: white;
        }
        &:focus {
          outline: unset;
          box-shadow: unset;
        }
      }
    }
    .showComment {
      display: block;
    }
    .hideComment {
      display: none;
    }
  }
  .newsletter {
    padding: 20px;
    background-color: #3abdc1;
    margin: 0 20px;
    .title {
      color: white;
      font-size: 20px;
      font-weight: 600;
    }
    .text {
      font-family: Poppins;
      font-size: 13px;
      line-height: 1.64em;
      font-weight: 400;
      color: white;
      margin: 0 0 17px 0;
    }
    .details {
      .inputs {
        .input {
          position: relative;
          margin: 5px 0;
          input {
            padding-left: 40px;
            width: 100%;
            height: 55px;
            border: unset;
            margin-bottom: 5px;
            color: white;
            background-color: #3fd0d4;

            &::placeholder {
              color: white;
            }
            &:focus {
              outline: unset;
            }
          }
          i {
            position: absolute;
            left: 16px;
            bottom: 24px;
            color: white;
            font-size: 16px;
          }
        }
      }
      .submit {
        margin-bottom: 15px;
        button {
          width: 100%;
          padding: 15px 0;
          background-color: white;
          color: #212121;
          font-weight: 600;
          border: unset;
          transition: all 0.2s linear;
          &:hover {
            background-color: #3fd0d4;
            color: white;
          }
          &:focus {
            outline: unset;
            box-shadow: unset;
          }
        }
      }
    }
  }
  .Me {
    text-align: center;
    margin: 40px 20px;
    .title {
      margin-bottom: 30px;
      h5 {
        font-weight: 600;
        color: #3abdc1;
        i {
          margin-left: 10px;
        }
      }
    }
    .img {
      border: #3abdc1 2px solid;
      img {
        width: 100%;
      }
    }
    .fullname {
      margin: 20px 0;
      h6 {
        font-weight: 700;
      }
    }
    h5 {
      font-weight: 600;
    }
    .socials {
      margin: 20px 0;
      a {
        margin: 0 5px;
        text-decoration: none;
        i {
          background-color: #3abdc1;
          width: 40px;
          line-height: 40px;
          height: 40px;
          color: white;
          border-radius: 50%;
          box-shadow: 0 0 45.92px 0.08px rgba(0, 0, 0, 0.07);
          transition: all 0.3s linear;
          &:hover {
            color: #3abdc1;
            background-color: white;
          }
        }
      }
    }
  }
  .blogCats {
    margin: 0 20px 30px;
    h5 {
      text-align: center;
    }
    ul {
      margin: 20px 0;
      li {
        margin: 5px 0;
        list-style: none;
        a {
          color: #505050;
          font-size: 15px;
          font-weight: 600;
          text-decoration: none;
          transition: all 0.3s linear;
          &:hover {
            color: #3abdc1;
          }
        }
      }
    }
  }
  .latestPosts {
    margin: 0 20px;
    h5 {
      text-align: center;
    }
    .post {
      margin-bottom: 15px;
      padding: 20px 10px;
      box-shadow: 0 0 45.92px 0.08px rgba(0, 0, 0, 0.07);
      .img {
        img {
          width: 100%;
        }
      }
      a {
        color: #505050;
        transition: all 0.3s linear;
        text-decoration: none;
        h6 {
          margin: 10px 0;
        }
        &:hover {
          color: #3abdc1;
        }
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #myBlog{
    .blog{
      .images{
        .img{
          width: 100%;
          height: unset !important;
          img{
            width: 100%;
            height: unset !important;
          }
          &:last-child{
            margin-top: 30px !important;
          }
        }
      }
    }
    .Me{
      .socials{
        a{
          margin: 0 !important;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #myBlog{
    .newsletter{
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 576px) {
}
