#introBlogs {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 440px;
  .slogan {
    padding: 145px 0px;
    .upperTitle {
      h3 {
        font-family: Satisfy;
        color: white;
        font-weight: 500;
        font-size: 35px;
        padding-bottom: 5px;
      }
    }
    .title {
      margin-bottom: 10px;
      h1 {
        color: white;
        font-size: 70px;
        font-weight: 600;
      }
    }
  }
}

#Blogs {
  transform: translateY(-80px);
  background-color: #fff;
  box-shadow: 0 9px 16px 13px rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  margin: 0 30px;
  padding: 40px 25px;
  .blog {
    padding: 5px 25px;
    .pic {
      margin-bottom: 40px;
      a {
        img {
          width: 100%;
        }
      }
    }
    .title {
      font-weight: 600;
      margin-bottom: 15px;
      a {
        transition: all 0.3s linear;
        color: inherit;
        &:hover {
          text-decoration: none;
          color: #3fd0d4;
        }
      }
    }
    .content {
      margin-bottom: 25px;
    }
    .details {
      font-weight: 600;
      margin-bottom: 30px;
      .date {
        margin-right: 15px;
      }
      .icon {
      }
      .commentCount {
        margin-right: 10px;
      }
      span {
      }
    }
    .quote {
      padding: 49px 68px 33px;
      background-color: #fff;
      box-shadow: 0 0 45.92px 0.08px rgba(0, 0, 0, 0.07);
      text-align: center;
      position: relative;
      margin-bottom: 40px;
      .icon {
        position: absolute;
        right: -15px;
        top: -15px;
        background-color: white;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        line-height: 60px;
        box-shadow: 0 0 45.92px 0.08px rgba(0, 0, 0, 0.07);
        color: #3abdc1;
        i {
        }
      }
      .text {
        padding: 10px 100px;
        margin: 0 5px;
        p {
          font-size: 20px;
        }
      }
      .fullname {
        p {
          font-family: Satisfy;
          font-size: 25px;
        }
      }
    }
  }
  .pages {
    margin: 35px 0 60px;
    .pagination {
      justify-content: center;
      .page-item {
        .page-link {
          border-radius: unset;
          color: black;
          border: unset;
          transition: all 0.2s linear;
          font-weight: 600;
          font-size: 15px;
          span {
            i {
            }
          }
          &:hover {
            color: #3fd0d4;
            background-color: unset;
          }
        }
      }
      .onpage {
        .page-link {
          color: #3fd0d4 !important;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  #Blogs{
    .quote{
      
      padding: 20px !important;
    }
  }
}

@media screen and (max-width: 576px) {
  #introBlogs{
    .upperTitle {
      h3 {
        font-size: 30px !important;
      }
    }
    .title {
      h1 {
        font-size: 50px !important;
      }
    }
  }
  #Blogs{
    .text{
      padding: 10px !important;
    }
  }
}
