#DestinationsExotic {
  display: flex;
  padding-bottom: 60px;
  .slogan {
    padding: 80px 20px 40px;
    text-align: center;
    .textWrapper {
      padding: 0px 250px 0;
      .upperTitle {
        h3 {
          font-family: Satisfy;
          color: #3fd0d4;
          font-weight: 500;
          font-size: 35px;
          padding-bottom: 5px;
        }
      }
      .title {
        margin-bottom: 10px;
        h1 {
          font-size: 70px;
          font-weight: 600;
        }
      }
      .text {
        h5 {
          font-weight: 300;
        }
      }
    }
  }
  .wrap {
    display: flex;
    padding: 30px 100px 50px;
    .destination {
      overflow: hidden;
      position: relative;
      margin: 0 18px 0;
      border-radius: 50%;
      &:hover {
        img {
          transition: all 1s linear;
          transform: scale(1.1);
        }
      }
      .img {
        overflow: hidden;
        img {
          transition: all 1s linear;
          width: 100%;
        }
      }
      .name {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        padding: 137px 0px;
        a {
          text-decoration: none;
          h5 {
            font-size: 35px;
            font-family: Satisfy;
            color: white;
          }
        }
      }
    }
  }
}

#ToursExotic {
  display: flex;
  margin: 0 5px 45px;
  background-color: white;

  .tourCountry {
    border-radius: 50%;
  }
  .tourCity {
    margin: 2px;
    position: relative;
    overflow: hidden;
    transition: all 1s linear;
    cursor: pointer;
    .BgImg {
      transition: all 1s linear;
      img {
        transition: all 1s linear;
        width: 100%;
      }
    }
    h5 {
      font-family: Satisfy;
      color: white;
      font-weight: 500;
      position: absolute;
      top: 95px;
      left: 75px;
      font-size: 50px;
      display: block;
    }
    .info {
      position: absolute;
      bottom: 20px;
      left: 30px;
      color: white;
      font-size: 17px;
      font-weight: 500;
      .name {
        margin-bottom: 5px;
        a{
          text-decoration: none;
          color: white;
          p {
            font-weight: 500;
            font-size: 20px;
            margin: 0 !important;
          }
        }
      }
      .details {
        display: flex;
        .star {
          margin-right: 5px;
        }
        .rating {
          margin-right: 5px;
        }
        .expression {
          margin-right: 5px;
        }
        .price {
          margin: 0 30px;
        }
      }
    }
    &:hover {
      .BgImg {
        img {
          transform: scale(1.05);
          transition: all 1s linear;
        }
      }
    }
  }
}

@media screen and (max-width: 992px){
  #DestinationsExotic {
    padding-bottom: unset !important;
    .slogan{
      .textWrapper{
        padding: 0 !important;
      }
    }
  }
  #DestinationsExotic {
    .wrap{
      padding: 0 !important;
      margin-bottom: 30px;
      .destination{
        .name{
          padding: 0 !important;
          top: 86px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 768px){
  #DestinationsExotic {
    .wrap{
      padding: 0 !important;
      margin-bottom: 30px;
      .destination{
        .name{
          padding: 0 !important;
          top: 86px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 576px){
  #DestinationsExotic{
    .upperTitle {
      h3 {
        font-size: 24px !important;
      }
    }
    .title {
      h1 {
        font-size: 30px !important;
      }
    }
    .text {
      h5 {
        font-size: 15px !important;
      }
    }
  }
  #DestinationsExotic{
    .wrap{
      .destination{
        margin: 0 12px 0 !important;
        .name{
          top: 60px !important;
          h5{
            font-size: 30px !important;
          }
        }
      }
    }
  }
}